.RebootRadar {
  position: absolute;
  width: 1100px;
  height: 650px;
  background-color: #2c2c2c;
  border-radius: 10px;
  overflow: hidden;
}


iframe {
  height: 100%;
  width: 100%;
}
.RebootRadar--maximized {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.RebootRadar-header {
  background-color: #2c2c2c;
  color: white;
  padding: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
}

.RebootRadar-window-controls {
  display: flex;
  gap: 8px;
}

.RebootRadar-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.RebootRadar-control--close {
  background-color: #ff3b30;
}

.RebootRadar-control--minimize {
  background-color: #ffcc00;
}

.RebootRadar-control--maximize {
  background-color: #28cd41;
}

.RebootRadar-title {
  font-size: 15px;
}

.RebootRadar-refresh {
  background-color: transparent;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.RebootRadar-refresh:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.RebootRadar-content {
  height: 100.2%;
  overflow: auto;
}
